node-red/flow_estacionamiento.json
[
    {
        "id": "8f599f39fb019fed",
        "type": "tab",
        "label": "Estacionamiento Inteligente IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32d72432293133ff",
        "type": "mqtt in",
        "z": "8f599f39fb019fed",
        "name": "",
        "topic": "escom/iot/equipo1/estacionamiento/estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dfa2a050e533a2a6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "e0eae20192b63659",
                "9243ff5efbbe53a7"
            ]
        ]
    },
    {
        "id": "af8d83601d8d050b",
        "type": "mqtt in",
        "z": "8f599f39fb019fed",
        "name": "",
        "topic": "escom/iot/equipo1/estacionamiento/distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dc93366af4f5e266",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "4a70d512e0527aec",
                "937c4e28cc17b88e",
                "f2cf51576b1da217"
            ]
        ]
    },
    {
        "id": "e0eae20192b63659",
        "type": "ui_text",
        "z": "8f599f39fb019fed",
        "group": "2d5f3c623e7f8eff",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado del cajón",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a70d512e0527aec",
        "type": "ui_gauge",
        "z": "8f599f39fb019fed",
        "name": "",
        "group": "2d5f3c623e7f8eff",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distancia al vehículo (cm)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "937c4e28cc17b88e",
        "type": "ui_chart",
        "z": "8f599f39fb019fed",
        "name": "",
        "group": "4f2a0197cc126106",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "Historial de distancia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9243ff5efbbe53a7",
        "type": "template",
        "z": "8f599f39fb019fed",
        "name": "Estado General",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div ng-bind-html=\"msg.payload\"></div>",
        "output": "str",
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f2cf51576b1da217",
        "type": "ui_text",
        "z": "8f599f39fb019fed",
        "group": "2d5f3c623e7f8eff",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distancia del auto",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "dfa2a050e533a2a6",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dc93366af4f5e266",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d5f3c623e7f8eff",
        "type": "ui_group",
        "name": "Estado",
        "tab": "2895e8813bf9d1a1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f2a0197cc126106",
        "type": "ui_group",
        "name": "Historial",
        "tab": "762815955c059014",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2895e8813bf9d1a1",
        "type": "ui_tab",
        "name": "Estacionamiento IoT",
        "icon": "local_parking",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "762815955c059014",
        "type": "ui_tab",
        "name": "Estacionamiento IoT",
        "icon": "Historial",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ea55895faceea102",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]